In [1]:

import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

In [2]:
import os
path = os.getcwd()

In [3]:
r1 = pd.read_csv(f'{path}/r1.txt', sep=',')
r2 = pd.read_csv(f'{path}/r2.txt', sep=',')
r3 = pd.read_csv(f'{path}/r3.txt', sep=',')
r4 = pd.read_csv(f'{path}/r4.txt', sep=',')
r5 = pd.read_csv(f'{path}/r5.txt', sep=',')
r6 = pd.read_csv(f'{path}/r6.txt', sep=',')
r7 = pd.read_csv(f'{path}/r7.txt', sep=',')
r8 = pd.read_csv(f'{path}/r8.txt', sep=',')
r9 = pd.read_csv(f'{path}/r9.txt', sep=',')
r10 = pd.read_csv(f'{path}/r10.txt', sep=',')
r11 = pd.read_csv(f'{path}/r11.txt', sep=',')
r12 = pd.read_csv(f'{path}/r12.txt', sep=',')

In [4]:
r1

    entity_id                        movie_name  rating
0       13336                      Forrest_Gump       5
1       14491          The_Shawshank_Redemption       4
2        9171                       Toy_Story 2       4
3       13694               Titanic_(1997_film)       4
4        9922                   Dumb_and_Dumber       2
5       11803              Jurassic_Park_(film)       3
6       10003               Man_of_Steel_(film)       3
7       11147            The_Dark_Knight_(film)       4
8       14294              Terminator_Salvation       2
9        5271  The_Three_Musketeers_(1993_film)       3
10        963             The_Mummy_(1999_film)       3
11       1707            The_Matrix_(franchise)       4
12       6807                        Fight_Club       5
13       7039              Twilight_(2008_film)       3
14      13836                 Men_inBlack(film)       4
15       8526                      X-Men_(film)       4
16      10728             Gladiator_(2000_film)       4
17      13061                          Die_Hard       2
18       6637    Home_Alone_2:_Lost_in_New_York       3
19       8514                      Home_Alone_3       4

In [5]:
movies_map = pd.read_csv(f'{path}/../ml1m/preprocessed/products.txt', sep='\t')
movies_map

      new_id  raw_dataset_id
0          0               2
1          1               3
2          2               4
3          3               5
4          4               6
...      ...             ...
3025    3025            3947
3026    3026            3948
3027    3027            3949
3028    3028            3950
3029    3029            3951

[3030 rows x 2 columns]

In [6]:
i2kg = pd.read_csv(f'{path}/../ml1m/preprocessed/i2kg_map.txt', sep='\t')
i2kg

,dataset_id,movie_name,entity_url,entity_id
0,781,Stealing Beauty (1996),http://dbpedia.org/resource/Stealing_Beauty,5474
1,1799,Suicide Kings (1997),http://dbpedia.org/resource/Suicide_Kings,9337
2,521,Romeo Is Bleeding (1993),http://dbpedia.org/resource/Romeo_Is_Bleeding,8520
3,3596,Screwed (2000),http://dbpedia.org/resource/Screwed_(2000_film),4713
4,3682,Magnum Force (1973),http://dbpedia.org/resource/Magnum_Force,14676
...,...,...,...,...
3025,1013,"Parent Trap, The (1961)",http://dbpedia.org/resource/The_Parent_Trap_(1...,3921
3026,2634,"Mummy, The (1959)",http://dbpedia.org/resource/The_Mummy_(1959_film),2322
3027,2242,"Grandview, U.S.A. (1984)","http://dbpedia.org/resource/Grandview,_U.S.A.",12453
3028,3941,Sorority House Massacre (1986),http://dbpedia.org/resource/Sorority_House_Mas...,12729
3029,2762,"Sixth Sense, The (1999)",http://dbpedia.org/resource/The_Sixth_Sense,3896

In [7]:
def add(df):
    raw_dataset = []
    for i in range(len(df)):
        raw_dataset.append(i2kg[i2kg['entity_id'] == df.iloc[i][0]]['dataset_id'].iloc[0])

    pid = []
    for i in range(len(raw_dataset)):
        pid.append(movies_map[movies_map['raw_dataset_id'] == raw_dataset[i]]['new_id'].iloc[0])
    
    df['pid'] = pid
    df['raw_dataset_id'] = raw_dataset

In [8]:
add(r1)
add(r2)
add(r3)
add(r4)
add(r5)
add(r6)
add(r7)
add(r8)
add(r9)
#add(r10)
add(r11)
add(r12)

In [9]:
r1

    entity_id                        movie_name  rating   pid  raw_dataset_id
0       13336                      Forrest_Gump       5   301             356
1       14491          The_Shawshank_Redemption       4   266             318
2        9171                       Toy_Story 2       4  2402            3114
3       13694               Titanic_(1997_film)       4  1279            1721
4        9922                   Dumb_and_Dumber       2   191             231
5       11803              Jurassic_Park_(film)       3   404             480
6       10003               Man_of_Steel_(film)       3  1186            1599
7       11147            The_Dark_Knight_(film)       4  2166            2814
8       14294              Terminator_Salvation       2   911            1240
9        5271  The_Three_Musketeers_(1993_film)       3   471             552
10        963             The_Mummy_(1999_film)       3  2005            2617
11       1707            The_Matrix_(franchise)       4  1978            2571
12       6807                        Fight_Club       5  2277            2959
13       7039              Twilight_(2008_film)       3  1320            1791
14      13836                 Men_inBlack(film)       4  1167            1580
15       8526                      X-Men_(film)       4  2908            3793
16      10728             Gladiator_(2000_film)       4  2739            3578
17      13061                          Die_Hard       2   768            1036
18       6637    Home_Alone_2:_Lost_in_New_York       3  2275            2953
19       8514                      Home_Alone_3       4  1272            1707

In [10]:
ratings_df = pd.read_csv(f'{path}/../ml1m/preprocessed/ratings.txt', sep='\t')
ratings_df

         uid   pid  rating  timestamp
0          0   872       5  978300760
1          0   537       3  978302109
2          0   679       3  978301968
3          0  2606       4  978300275
4          0  1790       5  978824291
...      ...   ...     ...        ...
940958  6039   810       1  956716541
940959  6039   813       5  956704887
940960  6039   477       5  956704746
940961  6039   815       4  956715648
940962  6039   816       4  956715569

[940963 rows x 4 columns]

In [11]:
movies_df = pd.read_csv(f'{path}/../ml1m/movies.dat',  sep="::", names=["movie_id", "movie_name", "genre"], header=None, encoding='latin-1')
movies_df

/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/4170346966.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv(f'{path}/../ml1m/movies.dat',  sep="::", names=["movie_id", "movie_name", "genre"], header=None, encoding='latin-1')

,movie_id,movie_name,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [12]:
mapping_df = pd.read_csv(f'{path}/../ml1m/preprocessed/products.txt', sep='\t', index_col='new_id')
mapping_df

        raw_dataset_id
new_id
0                    2
1                    3
2                    4
3                    5
4                    6
...                ...
3025              3947
3026              3948
3027              3949
3028              3950
3029              3951

[3030 rows x 1 columns]

In [13]:
# Load the data
movies = pd.merge(movies_df, mapping_df, left_on='movie_id', right_on='raw_dataset_id')
movies

,movie_id,movie_name,genre,raw_dataset_id
0,2,Jumanji (1995),Adventure|Children's|Fantasy,2
1,3,Grumpier Old Men (1995),Comedy|Romance,3
2,4,Waiting to Exhale (1995),Comedy|Drama,4
3,5,Father of the Bride Part II (1995),Comedy,5
4,6,Heat (1995),Action|Crime|Thriller,6
...,...,...,...,...
3025,3947,Get Carter (1971),Thriller,3947
3026,3948,Meet the Parents (2000),Comedy,3948
3027,3949,Requiem for a Dream (2000),Drama,3949
3028,3950,Tigerland (2000),Drama,3950
3029,3951,Two Family House (2000),Drama,3951

In [14]:
movies['id'] = range(len(movies))
movies.set_index('id', inplace=True)
movies = movies.drop(columns=['movie_id', 'raw_dataset_id'])
movies

                              movie_name                         genre
id
0                         Jumanji (1995)  Adventure|Children's|Fantasy
1                Grumpier Old Men (1995)                Comedy|Romance
2               Waiting to Exhale (1995)                  Comedy|Drama
3     Father of the Bride Part II (1995)                        Comedy
4                            Heat (1995)         Action|Crime|Thriller
...                                  ...                           ...
3025                   Get Carter (1971)                      Thriller
3026             Meet the Parents (2000)                        Comedy
3027          Requiem for a Dream (2000)                         Drama
3028                    Tigerland (2000)                         Drama
3029             Two Family House (2000)                         Drama

[3030 rows x 2 columns]

In [15]:
data = pd.merge(ratings_df, movies, left_on='pid', right_on='id')
data

,uid,pid,rating,timestamp,movie_name,genre
0,0,872,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,872,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,11,872,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,14,872,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,16,872,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...
940958,2908,2634,5,971971272,Born American (1986),Action|Drama|Thriller
940959,3313,2634,3,967947206,Born American (1986),Action|Drama|Thriller
940960,3617,2634,3,966598532,Born American (1986),Action|Drama|Thriller
940961,5678,2634,4,958619701,Born American (1986),Action|Drama|Thriller
940962,6023,2634,4,956749779,Born American (1986),Action|Drama|Thriller

In [16]:
def final(df):
    max_userid = max(data['uid'])
    df['uid'] = max_userid + 1
    a = pd.merge(df, movies_df, left_on='raw_dataset_id', right_on='movie_id')
    df_final = a.drop(columns=['raw_dataset_id', 'movie_id', 'movie_name_x', 'entity_id', ])
    df_final = df_final.rename(columns={'movie_name_y': 'movie_name'})
    df_final = df_final[['uid','pid', 'rating', 'movie_name', 'genre']]
    return df_final

In [17]:
r1_final = final(r1)
data = data.append(r1_final)

r2_final = final(r2)
data = data.append(r2_final)

r3_final = final(r3)
data = data.append(r3_final)

r4_final = final(r4)
data = data.append(r4_final)

r5_final = final(r5)
data = data.append(r5_final)

r6_final = final(r6)
data = data.append(r6_final)

r7_final = final(r7)
data = data.append(r7_final)

r8_final = final(r8)
data = data.append(r8_final)

r9_final = final(r9)
data = data.append(r9_final)

r11_final = final(r11)
data = data.append(r11_final)

r12_final = final(r12)
data = data.append(r12_final)

/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r1_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r2_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r3_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r4_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r5_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r6_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r7_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r8_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r9_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r11_final)
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/3562501419.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(r12_final)

In [18]:
r1

,entity_id,movie_name,rating,pid,raw_dataset_id,uid
0,13336,Forrest_Gump,5,301,356,6040
1,14491,The_Shawshank_Redemption,4,266,318,6040
2,9171,Toy_Story 2,4,2402,3114,6040
3,13694,Titanic_(1997_film),4,1279,1721,6040
4,9922,Dumb_and_Dumber,2,191,231,6040
5,11803,Jurassic_Park_(film),3,404,480,6040
6,10003,Man_of_Steel_(film),3,1186,1599,6040
7,11147,The_Dark_Knight_(film),4,2166,2814,6040
8,14294,Terminator_Salvation,2,911,1240,6040
9,5271,The_Three_Musketeers_(1993_film),3,471,552,6040
10,963,The_Mummy_(1999_film),3,2005,2617,6040
11,1707,The_Matrix_(franchise),4,1978,2571,6040
12,6807,Fight_Club,5,2277,2959,6040
13,7039,Twilight_(2008_film),3,1320,1791,6040
14,13836,Men_inBlack(film),4,1167,1580,6040
15,8526,X-Men_(film),4,2908,3793,6040
16,10728,Gladiator_(2000_film),4,2739,3578,6040
17,13061,Die_Hard,2,768,1036,6040
18,6637,Home_Alone_2:_Lost_in_New_York,3,2275,2953,6040
19,8514,Home_Alone_3,4,1272,1707,6040

In [19]:
data

,uid,pid,rating,timestamp,movie_name,genre
0,0,872.0,5,978300760.0,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,872.0,5,978298413.0,One Flew Over the Cuckoo's Nest (1975),Drama
2,11,872.0,4,978220179.0,One Flew Over the Cuckoo's Nest (1975),Drama
3,14,872.0,4,978199279.0,One Flew Over the Cuckoo's Nest (1975),Drama
4,16,872.0,5,978158471.0,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...
4,6049,2166.0,5,NaN,"Bat, The (1959)",Horror
5,6049,1614.0,4,NaN,Doctor Dolittle (1967),Adventure|Musical
6,6049,1409.0,4,NaN,Armageddon (1998),Action|Adventure|Sci-Fi|Thriller
7,6049,2739.0,4,NaN,Gladiator (2000),Action|Drama
8,6049,2402.0,5,NaN,Toy Story 2 (1999),Animation|Children's|Comedy

In [20]:
min(data[data['timestamp'].isna()]['uid'])

6040

In [21]:
user_movie_matrix = data.pivot_table(index='uid', columns='movie_name', values='rating').fillna(0)
user_movie_matrix

movie_name,"$1,000,000 Duck (1971)",'Night Mother (1986),'Til There Was You (1997),"'burbs, The (1989)",...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1961),101 Dalmatians (1996),12 Angry Men (1957),"13th Warrior, The (1999)",...,Young Doctors in Love (1982),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Young Sherlock Holmes (1985),"Zed & Two Noughts, A (1985)",Zero Effect (1998),Zeus and Roxanne (1997),eXistenZ (1999)
uid,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
user_movie_matrix_norm = user_movie_matrix.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1).clip(0)
user_movie_matrix_norm

movie_name,"$1,000,000 Duck (1971)",'Night Mother (1986),'Til There Was You (1997),"'burbs, The (1989)",...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1961),101 Dalmatians (1996),12 Angry Men (1957),"13th Warrior, The (1999)",...,Young Doctors in Love (1982),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Young Sherlock Holmes (1985),"Zed & Two Noughts, A (1985)",Zero Effect (1998),Zeus and Roxanne (1997),eXistenZ (1999)
uid,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.987195,0.787195,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
6046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
6047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
6048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
6049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
sparse_matrix = csr_matrix(user_movie_matrix.values)
sparse_matrix

<6050x3030 sparse matrix of type '<class 'numpy.float64'>'
	with 941101 stored elements in Compressed Sparse Row format>

In [24]:
similarities = cosine_similarity(sparse_matrix)
similarities

array([[1.        , 0.08854972, 0.12862658, ..., 0.05666837, 0.12036152,
        0.1248059 ],
       [0.08854972, 1.        , 0.15904176, ..., 0.        , 0.09490304,
        0.10319992],
       [0.12862658, 0.15904176, 1.        , ..., 0.        , 0.06441839,
        0.04055536],
       ...,
       [0.05666837, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.12036152, 0.09490304, 0.06441839, ..., 0.        , 1.        ,
        0.68074565],
       [0.1248059 , 0.10319992, 0.04055536, ..., 0.        , 0.68074565,
        1.        ]])

In [25]:
collab_filtering = pd.DataFrame(similarities, index=user_movie_matrix.index, columns=user_movie_matrix.index)
collab_filtering

uid,0,1,2,3,4,5,6,7,8,9,...,6040,6041,6042,6043,6044,6045,6046,6047,6048,6049
uid,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.088550,0.128627,0.142031,0.085265,0.169181,0.063152,0.121438,0.207163,0.256404,...,0.067477,0.046485,0.000000,0.054874,0.000000,0.000000,0.051258,0.056668,0.120362,0.124806
1,0.088550,1.000000,0.159042,0.161169,0.115130,0.105031,0.306841,0.213239,0.201583,0.231698,...,0.140957,0.123001,0.109797,0.118724,0.126711,0.042387,0.057108,0.000000,0.094903,0.103200
2,0.128627,0.159042,1.000000,0.156805,0.065532,0.076303,0.141549,0.082354,0.131642,0.222612,...,0.118403,0.099090,0.038579,0.138574,0.000000,0.115087,0.000000,0.000000,0.064418,0.040555
3,0.142031,0.161169,0.156805,1.000000,0.033737,0.013912,0.108557,0.093812,0.098024,0.126487,...,0.095949,0.116336,0.056274,0.092148,0.051751,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.085265,0.115130,0.065532,0.033737,1.000000,0.049022,0.122405,0.222524,0.265724,0.119207,...,0.125770,0.062607,0.098153,0.134487,0.014588,0.150838,0.052599,0.043612,0.099896,0.038354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6045,0.000000,0.042387,0.115087,0.000000,0.150838,0.029272,0.218326,0.102902,0.154682,0.075469,...,0.540018,0.378280,0.399599,0.708280,0.000000,1.000000,0.000000,0.000000,0.190639,0.000000
6046,0.051258,0.057108,0.000000,0.000000,0.052599,0.000000,0.000000,0.053510,0.031403,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
6047,0.056668,0.000000,0.000000,0.000000,0.043612,0.049958,0.000000,0.000000,0.000000,0.028472,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
6048,0.120362,0.094903,0.064418,0.000000,0.099896,0.073339,0.111730,0.051968,0.136903,0.084486,...,0.422933,0.302482,0.266274,0.345065,0.287318,0.190639,0.000000,0.000000,1.000000,0.680746
6049,0.124806,0.103200,0.040555,0.000000,0.038354,0.073351,0.037876,0.000000,0.089602,0.085849,...,0.360437,0.339788,0.104307,0.308544,0.102318,0.000000,0.000000,0.000000,0.680746,1.000000

In [26]:
movie_features = movies.genre.str.get_dummies()
movie_features

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,
0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3026,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3027,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3028,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3029,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [27]:
movie_similarities = cosine_similarity(movie_features)
movie_similarities

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.5       , 1.        , ..., 0.70710678, 0.70710678,
        0.70710678],
       ...,
       [0.        , 0.        , 0.70710678, ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.70710678, ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.70710678, ..., 1.        , 1.        ,
        1.        ]])

In [28]:
content_based = pd.DataFrame(movie_similarities, index=movies['movie_name'], columns=movies['movie_name'])
content_based

movie_name,Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),GoldenEye (1995),"American President, The (1995)",Dracula: Dead and Loving It (1995),...,Sorority House Massacre II (1990),Bamboozled (2000),Bootmen (2000),Digimon: The Movie (2000),Get Carter (2000),Get Carter (1971),Meet the Parents (2000),Requiem for a Dream (2000),Tigerland (2000),Two Family House (2000)
movie_name,,,,,,,,,,,,,,,,,,,,,
Jumanji (1995),1.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.816497,0.333333,0.000000,0.000000,...,0.0,0.000000,0.000000,0.666667,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
Grumpier Old Men (1995),0.0,1.000000,0.500000,0.707107,0.00000,1.000000,0.000000,0.000000,0.816497,0.500000,...,0.0,0.707107,0.500000,0.000000,0.000000,0.00000,0.707107,0.000000,0.000000,0.000000
Waiting to Exhale (1995),0.0,0.500000,1.000000,0.707107,0.00000,0.500000,0.000000,0.000000,0.816497,0.500000,...,0.0,0.707107,1.000000,0.000000,0.408248,0.00000,0.707107,0.707107,0.707107,0.707107
Father of the Bride Part II (1995),0.0,0.707107,0.707107,1.000000,0.00000,0.707107,0.000000,0.000000,0.577350,0.707107,...,0.0,1.000000,0.707107,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000
Heat (1995),0.0,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.666667,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.666667,0.57735,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Get Carter (1971),0.0,0.000000,0.000000,0.000000,0.57735,0.000000,0.000000,0.577350,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.577350,1.00000,0.000000,0.000000,0.000000,0.000000
Meet the Parents (2000),0.0,0.707107,0.707107,1.000000,0.00000,0.707107,0.000000,0.000000,0.577350,0.707107,...,0.0,1.000000,0.707107,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000
Requiem for a Dream (2000),0.0,0.000000,0.707107,0.000000,0.00000,0.000000,0.000000,0.000000,0.577350,0.000000,...,0.0,0.000000,0.707107,0.000000,0.577350,0.00000,0.000000,1.000000,1.000000,1.000000
Tigerland (2000),0.0,0.000000,0.707107,0.000000,0.00000,0.000000,0.000000,0.000000,0.577350,0.000000,...,0.0,0.000000,0.707107,0.000000,0.577350,0.00000,0.000000,1.000000,1.000000,1.000000
Two Family House (2000),0.0,0.000000,0.707107,0.000000,0.00000,0.000000,0.000000,0.000000,0.577350,0.000000,...,0.0,0.000000,0.707107,0.000000,0.577350,0.00000,0.000000,1.000000,1.000000,1.000000

In [29]:
def get_recommendation(user_id):
    # Get top 5 similar users
    similar_users = collab_filtering[user_id].sort_values(ascending=False)[1:6].index.tolist()
    similar_users
    # Get movies rated highly by similar users
    similar_user_movies = user_movie_matrix.loc[similar_users].mean(axis=0)
    recommended_movies = similar_user_movies[similar_user_movies >= 2].index.tolist()
    recommended_movies
    user_movies = user_movie_matrix.loc[user_id]
    similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
    similar_movies
    recommendations = set(recommended_movies) | set(similar_movies)
    recommendations

    rec = []

    for i in recommendations:
        if len(r1_final[r1_final['movie_name'] == i]) == 0:
            rec.append(i)

    return rec

In [76]:
user_6040 = get_recommendation(6040)
user_6041 = get_recommendation(6041)
user_6042 = get_recommendation(6042)
user_6043 = get_recommendation(6043)
user_6044 = get_recommendation(6044)
user_6045 = get_recommendation(6045)
user_6046 = get_recommendation(6046)
user_6047 = get_recommendation(6047)
user_6048 = get_recommendation(6048)
user_6049 = get_recommendation(6049)

/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()
/var/folders/8j/vb8qq8v168531_7qk_cwrfyc0000gn/T/ipykernel_74753/2412545344.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  similar_movies = content_based[user_movies > 0].mean(axis=0).sort_values(ascending=False)[:5].index.tolist()

In [77]:
for i in user_6041:
    print(mapping_df.iloc[movies[movies['movie_name'] == i].index[0]])

raw_dataset_id    377
Name: 318, dtype: int64
raw_dataset_id    438
Name: 365, dtype: int64
raw_dataset_id    387
Name: 328, dtype: int64
raw_dataset_id    3841
Name: 2943, dtype: int64
raw_dataset_id    2487
Name: 1910, dtype: int64
raw_dataset_id    3740
Name: 2868, dtype: int64

In [70]:
i2kg = pd.read_csv(f'{path}/../ml1m/preprocessed/i2kg_map.txt', sep='\t')
i2kg

,dataset_id,movie_name,entity_url,entity_id
0,781,Stealing Beauty (1996),http://dbpedia.org/resource/Stealing_Beauty,5474
1,1799,Suicide Kings (1997),http://dbpedia.org/resource/Suicide_Kings,9337
2,521,Romeo Is Bleeding (1993),http://dbpedia.org/resource/Romeo_Is_Bleeding,8520
3,3596,Screwed (2000),http://dbpedia.org/resource/Screwed_(2000_film),4713
4,3682,Magnum Force (1973),http://dbpedia.org/resource/Magnum_Force,14676
...,...,...,...,...
3025,1013,"Parent Trap, The (1961)",http://dbpedia.org/resource/The_Parent_Trap_(1...,3921
3026,2634,"Mummy, The (1959)",http://dbpedia.org/resource/The_Mummy_(1959_film),2322
3027,2242,"Grandview, U.S.A. (1984)","http://dbpedia.org/resource/Grandview,_U.S.A.",12453
3028,3941,Sorority House Massacre (1986),http://dbpedia.org/resource/Sorority_House_Mas...,12729
3029,2762,"Sixth Sense, The (1999)",http://dbpedia.org/resource/The_Sixth_Sense,3896

In [71]:
def get_entity_ids(set):
    entity_ids = []
    for i in set:
        print(entity_ids.append(i2kg[i2kg['movie_name'] == i]['entity_id'].iloc[0]))
        # entity_ids.append(i2kg[i2kg['movie_name'] == i]['entity_id'].iloc[0])

    return entity_ids

In [79]:
user_6041

['Speed (1994)',
 'Cowboy Way, The (1994)',
 'Low Down Dirty Shame, A (1994)',
 'Air America (1990)',
 'Blood, Guts, Bullets and Octane (1998)',
 'Big Trouble in Little China (1986)']

In [73]:
user_6040

['Police Academy 2: Their First Assignment (1985)',
 'Faster Pussycat! Kill! Kill! (1965)',
 'Speed (1994)',
 'Get Shorty (1995)',
 'Buffalo 66 (1998)',
 'Arachnophobia (1990)']

In [74]:
user_6040 = np.array(get_entity_ids(user_6040))
user_6041 = np.array(get_entity_ids(user_6041))
user_6042 = np.array(get_entity_ids(user_6042))
user_6043 = np.array(get_entity_ids(user_6043))
user_6044 = np.array(get_entity_ids(user_6044))
user_6045 = np.array(get_entity_ids(user_6045))
user_6046 = np.array(get_entity_ids(user_6046))
user_6047 = np.array(get_entity_ids(user_6047))
user_6048 = np.array(get_entity_ids(user_6048))
user_6049 = np.array(get_entity_ids(user_6049))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [75]:
np.savetxt('r1_recommendations.txt', user_6040)
np.savetxt('r2_recommendations.txt', user_6041)
np.savetxt('r3_recommendations.txt', user_6042)
np.savetxt('r4_recommendations.txt', user_6043)
np.savetxt('r5_recommendations.txt', user_6044)
np.savetxt('r7_recommendations.txt', user_6045)
np.savetxt('r8_recommendations.txt', user_6046)
np.savetxt('r9_recommendations.txt', user_6047)
np.savetxt('r11_recommendations.txt', user_6048)
np.savetxt('r12_recommendations.txt', user_6049)

In [36]:
movies_df[movies_df['movie_name'] == 'Men in Black (1997)']

      movie_id           movie_name                           genre
1539      1580  Men in Black (1997)  Action|Adventure|Comedy|Sci-Fi

In [37]:
movies[movies['movie_name'] == 'Men in Black (1997)']

               movie_name                           genre
id
1167  Men in Black (1997)  Action|Adventure|Comedy|Sci-Fi

In [38]:
movies[movies['movie_name'] == 'Gladiator (2000)']

            movie_name         genre
id
2739  Gladiator (2000)  Action|Drama

In [39]:
movies_df[movies_df['movie_name'] == 'Gladiator (2000)']

      movie_id        movie_name         genre
3509      3578  Gladiator (2000)  Action|Drama

In [123]:
mapping_df[mapping_df['raw_dataset_id'] == 1580]

        raw_dataset_id
new_id
1167              1580

In [140]:
mapping_df[mapping_df['raw_dataset_id'] == 3578]

        raw_dataset_id
new_id
2739              3578